[2019-05-05 08:00] OlivierJM opened #2 "Structure"
This is currently built in react but since I would like contributions from everyone else, I will keep this issue open for other suggestions.
we can go with the agreed and what everyone would be comfortable with.

What to keep in mind is that, this site isn't data heavy and probably won't contain any data so we are likely not to need any framework(though the development becomes much easier with one

[2019-05-05 08:08] OlivierJM opened #3 "proper image alignment"
The top layout should match the indicated image below

![IMG_1732](https://user-images.githubusercontent.com/11255454/57190692-adac5d80-6f1d-11e9-97f0-3e67855709f7.PNG)

[2019-05-05 08:09] OlivierJM commented on #2
The site also uses bootstrap, this is also open for discussion

[2019-05-05 08:12] OlivierJM opened #4 "clean up and more details"
We will need more clearer details about the conference on the page
For the clean up, we need to make sure that code is clean and readable for anyone to understand and contribute.

[2019-05-05 08:14] OlivierJM opened #5 "Add a proper readme"
Things to include:

- [x] What this is
- [x] Technologies it uses
- [x] Contribution guide
- [x] Link to the live site.
- [x] List of outside contributors
- [x] Conference Code of Conduct

[2019-05-05 08:16] OlivierJM opened #6 "Deployment for a live demo"
We will need a live demo with a proper pipeline set to make sure nothing breaks when we get contributions, we could use netlify for this.

[2019-05-05 08:30] OlivierJM opened #7 "Add a license"
For a project to be fully opensource it should have a license that matches the opensource standards like MIT or Apache.

Kindly check [here](https://github.com/devconzm/devconzm19/community/license/new?branch=master) for a list of licenses then we can add one

[2019-05-06 07:41] k9uma commented on #2
I think a lot of us are already comfortable enough to work with React, Also Bootstrap is fine...

[2019-05-06 07:41] k9uma commented on #4
What kind of information are we looking?

[2019-05-06 08:07] OlivierJM commented on #2
That is great, then we can continue with the current setup.

[2019-05-07 06:35] malgamves commented on #7
I feel MIT is the best fir for us

[2019-05-07 06:36] OlivierJM commented on #7
I will go ahead and add MIT license

[2019-05-07 06:38] malgamves commented on #4
Cool, also becuase it's all about the website design. Can we add the webiste folder on drive to this repo?

[2019-05-07 06:40] OlivierJM commented on #7
I will go ahead and close this, feel free to re-open if there is need.

[2019-05-07 06:40] #7 closed

[2019-05-07 06:41] OlivierJM commented on #4
Will that be find making the drive link public ?

[2019-05-07 06:46] malgamves commented on #4
I think that's fine. @k9uma what do you say?

[2019-05-07 06:47] malgamves commented on #2
I think thats fine. I know how to use React on surface level plus seeing as most of the work will be done by you its better to go for what your comfortable with. I'll mostly help with content and minor design touch ups and not much on structure.

[2019-05-07 06:48] malgamves opened #9 "Changing repo name"
Could we change the repo name to just **devconzm** so we dont have to make a new one every year?

[2019-05-07 06:49] OlivierJM commented on #2
Awesome, that is great.
Those touch ups and minor designs are the most important part.  Thanks

[2019-05-07 06:50] OlivierJM commented on #9
Ohhhh yeah that would be better, let's hear what others have to say about this.

[2019-05-07 06:51] malgamves commented on #9
Hey I cant add labels, what are my org permissions?
I agree
https://github.com/devconzm/devconzm19/issues/9#issuecomment-489935953

[2019-05-07 06:52] malgamves commented on #6
Yes, Netlify is perfect. I see you set it up on with that PR.

[2019-05-07 06:52] OlivierJM commented on #9
let me check on your permissions.

[2019-05-07 06:53] malgamves commented on #5
This is perfect - I think we can pass this on to a community member. A good way to get them started contributing to open source tech. Post the issue on the group maybe?

[2019-05-07 06:54] OlivierJM commented on #9
You are now the org owner 😀

[2019-05-07 06:59] OlivierJM commented on #5
I totally agree with you on this one.

[2019-05-07 06:59] malgamves opened #11 "Adding a dedicated Code of Conduct page"
It's import to have a visible and enforced conference code of conduct. This shows we care about the well-being of our community members. We have a COC that I think @k9uma has. I think its worth having a page dedicated to showing that,
Thoughts?

[2019-05-07 07:01] OlivierJM commented on #11
That is very true, we can have a link from the main page on the site that links to the COC and and the major points of it in the readme..

[2019-05-07 07:08] malgamves commented on #5
Yup, really good opportunity.

[2019-05-07 07:09] malgamves commented on #11
Yes, that works

[2019-05-07 07:13] k9uma commented on #9
We can change the name

[2019-05-07 07:14] OlivierJM commented on #9
Alright I will go ahead and change the name.

[2019-05-07 07:22] OlivierJM commented on #9
I will close this for now, feel free to re-open it

[2019-05-07 07:22] #9 closed

[2019-05-07 07:22] OlivierJM commented on #6
I will go ahead and close this for now

[2019-05-07 07:22] #6 closed

[2019-05-07 07:23] malgamves commented on #3
Might be a typo - I think it should be *software developer* conference.  Might be wrong

[2019-05-07 07:24] OlivierJM commented on #3
Just noticed that, it needs to be changed

[2019-05-07 07:39] Peterchama commented on #5
this is   nice  it will give a platform for some us the who are learning to contribute and learn more from others

[2019-05-07 07:41] killian-coder commented on #5
This is great i will definitely contribute

[2019-05-07 07:42] OlivierJM commented on #5
Feel free to work on this.

you can find a contribution guide [here](https://github.com/devconzm/devconzm/blob/master/CONTRIBUTING.md)  and a code of conduct [here](https://github.com/devconzm/devconzm/blob/master/CODE_OF_CONDUCT.md)

[2019-05-07 09:43] LuisRoyZulu06 commented on #5
This is a cool-platform to learn!

[2019-05-07 10:10] mandrigo commented on #5
this is awesome, would love to contribute something.

[2019-05-07 10:12] OlivierJM commented on #5
Check this and let me know other questions you might have ☝🏾

[2019-05-07 14:22] Big-Zude commented on #5
can i jump on this @OlivierJM

[2019-05-07 14:24] OlivierJM commented on #5
Please do that

[2019-05-07 18:10] k9uma commented on #4
It's not okay 😅😅 we can can just copy the files, they aren't that many after all 😅😅

[2019-05-09 10:35] djtwenty6 opened #13 "Background Image choice may need revisiting"
**Is your feature request related to a problem? Please describe.**
The background on the home page does not look Zambian enough, if at all it is.

**Describe the solution you'd like**
It would be nice to put an image of a recognizable landmark.

**Describe alternatives you've considered**
As cliche as it may be, the Victoria Falls may be a clearer option. Gray scale.

**Additional context**
Add an

[2019-05-09 10:37] OlivierJM commented on #13
Thanks @djtwenty6 for pointing this out.

@k9uma It would be so great to have a vic falls pic on that home page.

[2019-05-09 10:58] djtwenty6 opened #14 "Live Stream button"
**Is your feature request related to a problem? Please describe.**
If there will be a live stream, it would be good to have a button/link to it in the menu bar atop.

**Describe the solution you'd like**
The button could be glowing/animated (red in colour), with 'Watch Live' written on it. It could be placed where the current 'Devcon19' button is, and the decon button moved to the left edge of the

[2019-05-09 13:55] k9uma commented on #13
Okay, taken note of that, we will have some alternatives, piggybacking ideas on design will be difficult though... So revisions will have to be periodical.

[2019-05-09 13:55] #13 closed

[2019-05-12 06:28] OlivierJM commented on #5
Note: This issue was worked on here #12 but if you have any improvements its all welcome, I will keep it open

[2019-05-12 09:15] OlivierJM commented on #14
@leemlwando want to offer us a streaming service on the conference day so this would definitely be a thing to have.

[2019-05-12 09:16] OlivierJM opened #15 "add design doc"
We need to add to the prototype design of the conference site so that users who are contributing know what is expected.

[2019-05-12 09:21] OlivierJM opened #16 "add new line in the readme"
as shown in the image below, `cd devconzm` should come on the next line

![Screenshot 2019-05-12 at 11 20 25 AM](https://user-images.githubusercontent.com/11255454/57580287-f5942d00-74a7-11e9-8e4d-ea9514973d03.png)

**solution**

simply add double space after the clone line before cd

[2019-05-13 03:21] k9uma commented on #15
Okay great, I'll add it in

[2019-05-14 06:58] #15 closed

[2019-05-14 07:22] OlivierJM opened #18 "Add all contributors"
To show appreciation to all our contributors, it will be good to add them in the readme to appreciate their work and they can also have something to point to as contribution experience

[2019-05-14 07:23] OlivierJM commented on #18
I plan to use this https://allcontributors.org it's a bot that quickly adds contributors

[2019-05-14 07:51] OlivierJM commented on #14
@allcontributors please add @djtwenty6 for ideas

[2019-05-14 07:53] OlivierJM commented on #11
@allcontributors please @malgamves for ideas

[2019-05-14 07:53] OlivierJM commented on #11
@allcontributors please add @malgamves for ideas

[2019-05-14 07:57] OlivierJM commented on #2
@allcontributors please add @OlivierJM for code doc

[2019-05-14 07:58] OlivierJM commented on #2
@allcontributors please add @k9uma @Mulency @makayi @malgamves for eventOrganizing ideas

[2019-05-14 08:00] OlivierJM commented on #2
@allcontributors please add @k9uma for eventOrganizing ideas
@allcontributors please add @Mulency  for eventOrganizing ideas
@allcontributors please add @makayi for eventOrganizing ideas
@allcontributors please add @malgamves for eventOrganizing ideas

[2019-05-14 08:01] OlivierJM commented on #2
@allcontributors please add @k9uma for eventOrganizing ideas

[2019-05-14 08:01] OlivierJM commented on #2
@allcontributors please add @Mulency for eventOrganizing ideas

[2019-05-14 08:01] OlivierJM commented on #2
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:01] OlivierJM commented on #2
@allcontributors please add @malgamves for eventOrganizing ideas

[2019-05-14 08:11] OlivierJM commented on #18
@allcontributors please add @Mulency for eventOrganizing ideas

[2019-05-14 08:11] #2 closed

[2019-05-14 08:14] OlivierJM commented on #18
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:17] OlivierJM commented on #18
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:21] OlivierJM commented on #18
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:26] OlivierJM commented on #18
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:37] OlivierJM commented on #18
@allcontributors please add @makayi for eventOrganizing ideas

[2019-05-14 08:42] OlivierJM commented on #18
@allcontributors please add @k9uma for content doc ideas

[2019-05-14 08:45] OlivierJM commented on #18
@allcontributors please add @k9uma for content doc ideas

[2019-05-14 08:46] OlivierJM commented on #18
@allcontributors please add @k9uma for content doc ideas

[2019-05-14 08:50] OlivierJM commented on #18
@allcontributors please add @LuisRoyZulu06 for doc

[2019-05-14 08:51] OlivierJM commented on #18
@allcontributors please add @OlivierJM for code doc ideas

[2019-05-14 08:53] OlivierJM commented on #18
@allcontributors please add @malgamves for ideas

[2019-05-14 09:43] OlivierJM commented on #18
@allcontributors please add @Mulency  for eventOrganizing

[2019-05-14 09:44] OlivierJM commented on #18
@allcontributors please add @makayi  for eventOrganizing

[2019-05-14 09:47] OlivierJM commented on #18
@allcontributors please add @djtwenty6 for ideas

[2019-05-14 09:48] OlivierJM commented on #18
I am close this.

[2019-05-14 09:48] #18 closed

[2019-05-14 17:34] malgamves commented on #14
We should probably look into something like [resream.io](https://restream.io/) as an alternative too

[2019-05-17 05:05] OlivierJM opened #42 "remove the contact us section"
from the previous PR #40 we need to remove the current contact us page until further notice.

[2019-05-17 05:07] OlivierJM opened #43 "add a coming soon page [urgent]"
As we are still building the whole site we will need a coming soon page, it can only contain things like venue and date for the conference.
any pretty good design is welcome for now

[2019-05-17 05:09] OlivierJM opened #44 "match the footer with the design"
from this #40 PR it will be good to match the footer with the one shown in this design
https://drive.google.com/file/d/1qGsSnLwq9dL5DHAAUVYPe0Jkg4EwY-3o/view?usp=sharing

check out the current live demo of the site [here](https://deploy-preview-40--devconzm.netlify.com)

[2019-05-17 05:31] OlivierJM opened #45 "sponsors logos"
We will need to add sponsors logos on the site

[2019-05-17 05:32] OlivierJM commented on #45
@k9uma I didn't find a folder in the drive where there are logos, can we link them here?

[2019-05-18 17:47] OlivierJM commented on #42
Thanks to @chrisdesilva for working on this.

[2019-05-18 17:47] #42 closed

[2019-05-18 20:22] OlivierJM commented on #44
#47  @Chizzoz is currently working on this issue.

[2019-05-18 20:37] OlivierJM commented on #3
this was fixed in this PR #47
I am closing it for now, feel free to reopen it when there is need.

[2019-05-18 20:37] #3 closed

[2019-05-18 22:34] Chizzoz opened #51 "Sections stretching too wide on large screens"
**Describe the bug**
The sections in web page have a chevron like design. With screen width of up to about 1200px, this looks good, but above that, like on wide screens, this design stretches and does not look as good as on smaller screens.

This could be maintained or the chevron design can be confined in the section containers.

**To Reproduce**
Steps to reproduce the behavior:
1. Open page on w

[2019-05-19 06:49] k9uma commented on #45
I dont think we have a folder for those logos just yet, let me create it

[2019-05-19 06:49] #45 closed

[2019-05-19 06:54] OlivierJM commented on #45
alright when you create it, you can re-open this issue or create a new one so that someone can work on it.

[2019-05-19 07:07] OlivierJM opened #52 "images on mobile"
**Describe the bug**
on a small screen images are not responsive, this will push users to scroll horizontally and are likely not to see somethings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://devconzm.netlify.com
2. reduce the screen width or better navigate to it on a mobile phone
3. check the header and image of the conference description
4. check how it looks

**Expected

[2019-05-19 07:19] OlivierJM opened #53 "toggle menu in the header on small screen"
**Describe the bug**
on small screen the menu is hidden and can't be triggered to show

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://devconzm.netlify.com preferrably on a mobile device
2. reduce the screen size
3. click on the menu icon
4. The menu is not triggered

**Expected behavior**
The menu is supposed to show so that viewers on mobile devices can navigate the size in a

[2019-05-19 13:48] Chizzoz commented on #53
I noticed this as well, was about to raise the same issue. It seems that the hamburger menu Bootstrap feature depends on JQuery library, I have implemented a fix, will create PR asap. But a new problem has been created, menu is a bit off screen, I think it has to do with the Bootstrap Flex layout.

[2019-05-19 13:51] Chizzoz commented on #53
Notice the width of everything except header and white space on the right
![screencapture-localhost-3000-2019-05-19-15_48_51](https://user-images.githubusercontent.com/17289498/57983052-b50b5500-7a4d-11e9-8b91-2abc35243ba0.png)

[2019-05-20 05:20] OlivierJM commented on #53
should we create a new issue from this one ? it seems a bit different I want to close this one

[2019-05-20 07:14] OlivierJM opened #55 "Add an image slider"
**Is your feature request related to a problem? Please describe.**
Not really a problem but something worth having on the site

**Describe the solution you'd like**
According to the initial design of the site, it looks like we need to have a slider for images, not so sure exactly which images we are supposed to have there, i will follow this up

**Describe alternatives you've considered**
an alter

[2019-05-20 07:15] OlivierJM commented on #55
we could have there maybe some photos of the last conference, this is just a thought.

[2019-05-20 07:20] OlivierJM opened #56 "remove packages that aren't needed"
in the package.json there are packages which we don't need, the best is to get rid of them
you can check here
this one
https://github.com/devconzm/devconzm/blob/1c649316efefe83b0ffe23912a1903b11cad8351/package.json#L11

and this one
https://github.com/devconzm/devconzm/blob/1c649316efefe83b0ffe23912a1903b11cad8351/package.json#L10

[2019-05-20 07:23] OlivierJM opened #57 "remove the contactus component"
this component was added earlier as part of the home page but according to the design we don't need it, the best is to remove it.
it can be found [here](https://github.com/devconzm/devconzm/blob/master/src/components/ContactUs.js)
it was removed from the App.js in this pull request #42

[2019-05-20 07:31] OlivierJM opened #58 "remove the lock files"
It is understood that we use different package managers and it shouldn't matter because we can't force usage of one.
to avoid package versions conflicting in lock files it will be good to keep the lock files in the `.gitignore`
files to include are these:
- package.lock.json
- yarn.lock

This will make it independent of which package manager one uses.

[2019-05-20 07:35] OlivierJM opened #59 "add more tests"
so far we have been relying on netlify continuous deployment for a deploy preview to make sure that changes sent in pull requests aren't breaking anything we don't intend to break.

This is not fault proof, it will be good to have some tests that can against each pull requests for changes.
I added basic tests to give a snapshot of how tests should be written, an example can be found starting from

[2019-05-20 07:50] OlivierJM commented on #43
This page should basically contain, basic information about the conference which can be obtained at the current site in the repo description.

[2019-05-20 07:51] OlivierJM commented on #43
The need for this is so that we deploy the site and make it public as we are still working on the actual site.

[2019-05-20 09:40] Big-Zude commented on #5
alright

[2019-05-20 09:56] OlivierJM commented on #5
#16

[2019-05-20 10:43] #16 closed

[2019-05-20 11:05] Big-Zude commented on #56
so all i need to do is delete those lines from the package.json and then commit it to my folked repo and then create a pull request?

[2019-05-20 11:07] Big-Zude commented on #57
is this still open?

[2019-05-20 11:08] OlivierJM commented on #57
Yes it is.

[2019-05-20 11:09] OlivierJM commented on #56
That is basically what is needed.

check also this issue #58  and see if you can do them together since they are related.

[2019-05-20 11:10] OlivierJM commented on #56
let me also know when you want to work on specific issue so that I add an issue-claimed label so that someone else doesn't work on it while you are working on it.

[2019-05-20 11:11] Big-Zude commented on #56
alright thanks

[2019-05-20 11:11] OlivierJM commented on #56
@Big-Zude when you remove the lines make sure you run either `yarn ` or `npm install` then start the app by either `yarn start` or `npm start ` to make sure everything is working fine.

[2019-05-20 11:13] Big-Zude commented on #56
i will do that thanks

[2019-05-20 11:13] OlivierJM commented on #56
Cool am adding an issue-claimed here then.

[2019-05-20 14:15] ikayz commented on #51
If that was implemented using Bootstrap. I think I know the problem that's causing it.

[2019-05-20 14:16] OlivierJM commented on #51
can you work on this ?

[2019-05-20 14:17] ikayz commented on #51
Sure thing, will debug and hopefully fix it 😁

[2019-05-20 14:17] OlivierJM commented on #51
awesome, I will be looking forward for a PR 😀

[2019-05-20 15:33] Big-Zude commented on #56
i think i messed, i need you to review it and give me feedback

[2019-05-20 15:35] OlivierJM commented on #56
sure send a pull request, I will review it.

[2019-05-21 08:43] OlivierJM opened #66 "Maybe "Agenda" link should also go?"
Maybe "Agenda" link should also go?

_Originally posted by @Chizzoz in https://github.com/devconzm/devconzm/pull/65#issuecomment-494297217_

[2019-05-21 08:44] OlivierJM commented on #66
what do you guys think on the agenda in the header ?

[2019-05-21 08:48] OlivierJM opened #67 "image optimization"
@malgamves @k9uma what do you think of this https://github.com/marketplace/imgbot
It is a bot that optimizes images.

some images were added, we could use an image optimization bot or get rid of the images we don't need.
We could also just use a cdn for all the images and avoid having them as part of the repo.

_Originally posted by @OlivierJM in https://github.com/devconzm/devconzm/pull/46#issuec

[2019-05-21 08:49] OlivierJM commented on #67
Actually since the Website Content folder is outside the src `react` won't compile it, that means everything in it won't be used on the site in any way.

[2019-05-21 08:50] ikayz commented on #51
![bug-1](https://user-images.githubusercontent.com/31007212/58081742-de46f500-7bb5-11e9-97b3-a19f656ad8b9.png)
My screen maxes out at 1080p but I used different screen simulators and that's the bug I came across. I'll instead add classes to specify extra small, small, medium, and large screens. The only class specified is for medium screens. Also the mobile bugs like text kissing the edge of the l

[2019-05-21 08:52] OlivierJM commented on #51
Thanks for that, make sure you update with the origin to match with the recent updates from @Chizzoz

[2019-05-21 08:57] ikayz commented on #51
I'll add on top of what @Chizzoz  wrote. Just expanding on it.

[2019-05-21 08:58] OlivierJM commented on #51
Awesome thanks

[2019-05-21 09:14] k9uma commented on #55
I am not sure, I think its worth thinking about...

[2019-05-21 09:14] k9uma commented on #55
For now, we can leave it as it is

[2019-05-21 09:15] OlivierJM commented on #55
I think so too.

[2019-05-21 09:15] k9uma commented on #43
There havent been any takers for this one? Maybe we can ask Kumbu to design an image to place on the site? With all the information

[2019-05-21 09:15] OlivierJM commented on #55
I will go ahead and close this, feel free to re-open it when needed.

[2019-05-21 09:15] #55 closed

[2019-05-21 09:17] k9uma commented on #66
We can remove it for now... It can come when we announce the schedule

[2019-05-21 09:17] OlivierJM commented on #43
Sure do that, actually it would be easier for contributors if there was a design for this.

[2019-05-21 09:18] OlivierJM commented on #66
cool.

[2019-05-21 11:25] CHISANGA1 commented on #53
hello.i'm a beginner.

 i have been following through this project and i have an observation which maybe specific to my device (i am not sure) which is the galaxy s6 edge plus. The content on the about section is way to down the edge which is making reading difficult. the words are not almost vanishing into the edges on the right.

[2019-05-21 11:28] OlivierJM commented on #53
Hi Chisanga, thanks for noting that.
Can you kindly share a screenshot of that.

[2019-05-21 11:44] CHISANGA1 commented on #53
![Screenshot_20190521-131936](https://user-images.githubusercontent.com/39368651/58093333-92547a00-7bce-11e9-94ee-0aed3bcf9eb9.png)

[2019-05-21 11:45] CHISANGA1 commented on #53
so that section on my phone is way to into the edges. especially on the left side

[2019-05-21 11:48] OlivierJM commented on #53
I see what you, it’s like it needs some padding around this paragraph.
Feel free to fix this, since it’s your first time check the contribution guide, I will be looking forward to your pull request

[2019-05-21 11:49] CHISANGA1 commented on #53
thanks..

[2019-05-21 12:54] tumbone commented on #58
Hi @Big-Zude are you looking at this?

[2019-05-21 12:57] OlivierJM commented on #58
This was worked on but the issue wasn't fully fixed, Its why i kept it open.
Feel free to work on it.

[2019-05-21 13:10] tumbone commented on #58
Ok cool will do.

[2019-05-21 15:19] #58 closed

[2019-05-21 15:19] OlivierJM commented on #58
I am closing this down, feel free to reopen it if there is need

[2019-05-21 15:40] OlivierJM commented on #66
removed this, am closing this now.

[2019-05-21 15:40] #66 closed

[2019-05-21 15:40] #56 closed

[2019-05-21 16:19] Big-Zude commented on #58
@OlivierJM have you fixed the issue of the packages?
please when you do give me feedback on how its done.

[2019-05-21 16:27] OlivierJM commented on #58
Yeah I fixed it.
running `npm audit` reported a lot of vulnerabilities, and most of them were caused by the `react-scipts` package, so I did these steps:
1. I removed one lock file(yarn.lock)
2. I deleted the node_modules directory
3. I ran `npm install `
4. I updated the react-script package

and did some other clean ups but this fixed the vulnerabilities.

[2019-05-21 17:14] Big-Zude commented on #58
alright thanks

[2019-05-21 21:11] AbednegoTM commented on #52
has this issue been solved

[2019-05-21 21:13] OlivierJM commented on #52
Hi Abed,

When I check on my ka small phone the image on the left still doesn’t resize perfectly.
Try it and see if you can alter it in anyway.

[2019-05-21 21:13] OlivierJM commented on #52
Another approach could be to hide it all together on smallest devices.

[2019-05-21 21:23] AbednegoTM commented on #52
Okay can make a PR with mobile break points were mobile styles can live. apparently browser mobile view (devtools) looks fine somehow , unless on very small screen. so i can take up this issue, do i have a go ahead .

[2019-05-22 05:04] OlivierJM commented on #52
Heyyy @AbednegoTM  you have a go ahead, sorry for the late reply.
I will mark this issue as claimed. Thanks

[2019-05-22 09:50] tumbone commented on #58
@OlivierJM we still need to remove the reference to package-lock.json from the .gitignore file otherwise the existing lock file will never be updated. I'll create a PR for this.

[2019-05-22 09:51] tumbone commented on #59
I can have a look at this

[2019-05-22 09:51] OlivierJM commented on #58
Sure thanks.

[2019-05-22 09:53] OlivierJM commented on #59
I will appreciate.
I haven't had enough time for this one 😞

[2019-05-23 05:16] OlivierJM commented on #52
I am closing this issue as it has been resolved in the referred PR.
Feel free to reopen it

[2019-05-23 05:16] #52 closed

[2019-05-23 06:00] OlivierJM opened #76 "concern over the repo size"
The repo size has grown from less than 1mb to over 27mb 🤔 I don't know exactly why it is so, but anyone who is interested to investigate why ideas are welcome

[2019-05-23 06:03] OlivierJM commented on #76
we have few images in the repo which are very light but as part of optimization #67 we should be thinking of hosting the images over a cdn to provide a light experience and keeping the minimum size of the repo.
we also have some code that aren't being used, I am not sure how webpack tree shaking is set up in the create-react-app but we might need to manually get rid off any part of code that is no

[2019-05-23 06:06] #44 closed

[2019-05-23 06:40] k9uma commented on #43
Can we use the waterfalls picture he made?

[2019-05-23 06:42] OlivierJM commented on #43
Did we agree on that ? I remember Daniel being skeptic about it.

[2019-05-24 15:30] k9uma commented on #76
We really need a quality assurance person lol

[2019-05-24 15:31] OlivierJM commented on #76
I will investigate on this.

[2019-05-25 12:02] WillzMu opened #77 "Add resources from last year's DevCon18 to the website"
It would be good to have any resources that were shared from last year's DevConZM18 event for people to recap on what lessons that were given and for those that may have missed out on the event.

Alternative solution
The resources could be hosted on a GitHub repo then there maybe no need to create a separate page.

[2019-05-26 08:14] k9uma commented on #77
On it

[2019-05-26 09:23] OlivierJM commented on #77
@allcontributors please add @WillzMu for ideas

[2019-05-26 10:51] WillzMu commented on #77
thanks @OlivierJM

[2019-05-27 13:29] k9uma commented on #43
He okayed it I think

[2019-05-27 15:39] OlivierJM commented on #43
Awesome, I will create an issue for that.

[2019-05-29 05:40] OlivierJM opened #80 "change background image"
**Is your feature request related to a problem? Please describe.**
This issue is related to this #13

**Describe the solution you'd like**
we need to change the current image background to one that properly defines Zambia
The image can be found here https://drive.google.com/drive/folders/1-qZdFJX1KzhEvGTNFcCaZ8XOUFIqOetZ

**Describe alternatives you've considered**
the alternative is to have any b

[2019-05-29 05:50] locness3 commented on #80
Would be a simple CSS change, no ?

[2019-05-29 05:51] OlivierJM commented on #80
I really believe it is a matter of alignment because and responsiveness, this is just a replacement of the current image.

[2019-05-29 05:52] locness3 commented on #80
Ok. WHich of the images would you like ?

[2019-05-29 05:54] OlivierJM commented on #80
This is the image https://drive.google.com/drive/folders/1-qZdFJX1KzhEvGTNFcCaZ8XOUFIqOetZ

[2019-05-29 05:55] locness3 commented on #80
Which one of the folder ?

[2019-05-29 05:55] OlivierJM commented on #80
![Devcon 19 web background1](https://user-images.githubusercontent.com/11255454/58532839-0dc5b500-81e7-11e9-9448-402ba4a78e95.png)

[2019-05-29 05:56] OlivierJM commented on #80
The one shared above

[2019-05-29 09:28] locness3 commented on #80
Ok

[2019-05-29 09:36] locness3 opened #81 "Using semantic tags correctly"
**Describe the bug**
The page header (with nav, tagline, and call to action) is wrapped in an nav tag. But it isn't a navbar.

**Expected behavior**
I expect only the real nav to use the nav tag, not the rest of the header.

**Desktop (please complete the following information):**
 - OS: macOS 10.11.6
 - Browser Firefox
 - Version 67.0

**Additional context**
You should fix this for screen readers

[2019-05-29 10:03] locness3 commented on #80
How can I preview my chenges ? I have never had experience with React, and Netlify doesn't seem to work for me.

[2019-05-29 10:24] OlivierJM commented on #80
have you checked the contributing guide? netflify will only work on a fully working pull request.

[2019-05-29 10:25] OlivierJM commented on #80
if you clone this repo, you would need to first install packages using npm `npm install` and you do  `npm run start` this should be open the site in the browser if there are no errors

[2019-05-29 10:27] OlivierJM commented on #81
Thanks for filing in this.
Would you love to work on this ?

[2019-05-29 10:29] OlivierJM commented on #81
@allcontributors please add @locness3 for bug

[2019-05-29 10:35] locness3 commented on #81
truly sorry, but no.

[2019-05-29 10:36] locness3 commented on #80
Oh ok

[2019-05-29 10:36] OlivierJM commented on #81
Alright.

[2019-05-29 10:37] OlivierJM commented on #80
Netlify seems to be erring, I will check that out.

[2019-05-29 10:38] locness3 commented on #80
Seems to be a probel with package.json, doesn't work on my machine either

[2019-05-29 10:40] OlivierJM commented on #80
let me check it, I will give you feedback soon.

[2019-05-29 11:18] OlivierJM commented on #80
I fixed the failing build, you should be able to preview your changes when you submit a pull request.

[2019-05-29 15:11] locness3 opened #85 "Using real text for the tagline"
**Describe the solution you'd like**
Using real text with a background for the tagline, since using an image is not practical for screen readers.

**Describe alternatives you've considered**
Adding a correct "alt", but the screen reader would still read "image"

[2019-05-29 15:13] OlivierJM commented on #85
I think am going to create a new label for accessibility issues

[2019-05-30 09:08] OlivierJM opened #86 "Set up dependant bot"
Some of the packages are outdated and it won't be easy to manually update them, We need to set up a bot to automate this process.

[2019-06-26 07:48] k9uma commented on #80
Hey @locness3 did you manage with the background change?

[2019-06-26 07:50] OlivierJM commented on #80
The background was successfully changed, there was still an issue of contrast, to make the wording more visible in contrast to the background. check it here #84

[2019-06-26 10:42] k9uma opened #90 "Add a favicon"
Add a Favicon for the release application

[2019-06-26 11:45] Beardless-sheik commented on #90
Do we have a design for it already?

[2019-06-26 12:11] OlivierJM commented on #90
Try and see if you can find them here https://drive.google.com/drive/folders/1-edCcmkQPXrmgG1VfFAxXawgZXFwYpjE?usp=sharing

[2019-06-27 03:26] k9uma commented on #11
This was added to the footer and links to the COC... Is that okay?

[2019-06-27 03:27] k9uma commented on #43
Since we deployed the release, do we still need this?

[2019-06-27 05:59] OlivierJM commented on #43
No we don't, thank you,

I am closing this.

[2019-06-27 05:59] #43 closed

[2019-06-27 06:11] OlivierJM commented on #11
I think we might need a dedicated code of conduct for the conference not just the repository
here are some examples:
- https://www.oreilly.com/conferences/code-of-conduct.html
- https://confcodeofconduct.com/
- https://www.eso.org/sci/meetings/2018/tcl2018/code.html
- https://merchantriskcouncil.org/about-mrc/attendee-code-of-conduct

[2019-07-08 13:15] geraldMaboshe opened #91 "Setting up remote version"
I'm having trouble setting up a remote version of my forked repo. I'm getting
fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
@OlivierJM may you help?

[2019-07-08 16:26] OlivierJM commented on #91
Hi @geraldMaboshe thanks for reaching out.
If you are cloning your forked repo, use this link https://github.com/geraldMaboshe/devconzm

`git clone https://github.com/geraldMaboshe/devconzm`
that should be able to work, let me know if the error persist.

[2019-07-08 16:48] OlivierJM commented on #90
@Beardless-sheik can you use this logo as a favicon it only needs to be reduced to 50X50
@k9uma do you approve this to be used?
![sticker](https://user-images.githubusercontent.com/11255454/60827557-c4d32a00-a1b0-11e9-88df-dee79f61dcdd.png)

[2019-07-08 17:46] geraldMaboshe commented on #91
I'm still getting the same error

[2019-07-08 18:01] OlivierJM commented on #91
This is likely a windows issue, my guess
Try and type the whole line from git ... don't copy and paste it, if it doesnt work share the screenshot with me

[2019-07-08 18:11] geraldMaboshe commented on #91
![Screenshot from 2019-07-08 20-10-30](https://user-images.githubusercontent.com/41299580/60832605-922f2e80-a1bc-11e9-9250-aaf4ecf8a214.png)

[2019-07-08 18:14] OlivierJM commented on #91
ahhhh I see, so it is not when cloning 🤔

Cool, feel free to skip for now, make all the changes you want to make and when you are done push the changes to your fork and from your fork create a Pull Request that points to the devconzm(releases branch). I will pick up changes from there.

[2019-07-08 18:17] geraldMaboshe commented on #91
How do I make the pr point to the release one?

[2019-07-08 18:18] OlivierJM commented on #91
When creating the PR, it will prompt you which branch to make the base, if you dont manage, go ahead and point it to the master, I will do the reconciling from my side.

[2019-07-09 05:57] Beardless-sheik commented on #90
I can use that........... @k9uma is it ok with you?

[2019-07-09 06:08] OlivierJM commented on #90
Please go ahead, just try and bring down the size to 50X50 to properly fit the favicon size

[2019-07-09 19:50] Chizzoz commented on #90
Evening gents! Jumped in on this issue. I have created a PR for you to look at.

[2019-07-09 19:54] Chizzoz commented on #51
@ikayz and @OlivierJM is this still an issue?

[2019-07-09 19:58] Chizzoz commented on #57
Is this issue still open?

[2019-07-09 20:02] Chizzoz commented on #53
I believe this was sorted

[2019-07-11 09:57] CHISANGA1 commented on #53
Yes. It's okay now

On Jul 9, 2019 10:02 PM, "Chizzo Cheese" <notifications@github.com> wrote:

[2019-07-12 08:54] OlivierJM commented on #53
closing this issue.

[2019-07-12 08:54] #53 closed

[2019-07-12 08:59] #91 closed

[2019-07-12 09:00] OlivierJM commented on #90
#94  Once again Thanks @Chizzoz

[2019-07-12 11:53] k9uma commented on #90
Sorry only seeing this now... You can go ahead

[2019-07-15 08:18] k9uma opened #98 "Add Conference Venue Information"
We need to add venue information for the conference

Venue: Confucious Center - University of Zambia

[2019-07-16 06:44] OlivierJM commented on #90
Closing this, @Chizzoz worked on it.

[2019-07-16 06:44] #90 closed

[2019-07-16 06:45] #86 closed

[2019-07-30 08:37] OlivierJM opened #102 "Things yet to be added, reported by @malgamves"
Yet to add:
- [x] Animation on hover for section titles to make it smoother
- [x] Remove img animation on header section
- [x] Code of conduct section or page
- [x] Social Media links and Icons
- [x] Change text to use DevConZM font
- [x] Add "To partner with is, send us an email at info@devcon.co.zm" at bottom of partners section
_Originally posted by @malgamves in https://github.com/devconzm/dev

[2019-07-30 08:39] OlivierJM commented on #102
#11
and this https://github.com/devconzm/devconzm/issues/11#issuecomment-506206197

[2019-07-30 12:58] bgongre commented on #102
When you have a chance can you link the social media you'd like to add? Also, is the "DevConZM" font already in the project files, but not added? I had looked for the font in the project files, but may have just missed it.

[2019-07-30 13:19] malgamves commented on #102
Sure, Facebook - https://m.facebook.com/devconzm/
Twitter - https://twitter.com/devcon_zm
LinkedIn - https://www.linkedin.com/company/developer-conference-zambia-19
Email - info@devcon.co.zm

On the fonts, @k9uma would have to ask Kumbu. I won't merge #103 now so you can put in the social media icons in the footer

[2019-07-30 13:52] OlivierJM commented on #102
I think we should also start thinking about speakers and tickets, so that those tweets go along with this url devcon.co.zm for all details about the conference.

[2019-07-30 15:05] malgamves commented on #102
I think at this point, a router is very necessary. Tickets can be on the home page. But speakers, agenda and coc need dedicated pages.

[2019-07-30 16:44] k9uma opened #104 "Add Ticket Section"
Add Ticket Section with the following information
Link to Quicket Ticket purchase page. Link here: https://qkt.io/I3SHAd
Ticket Categories Include the following
1. Early Bird Ticket
    Price: ZK150
    Runs from 29th July to 19th August 2019
2. Regular Ticket
    Price: ZK250
    Runs from 20th August to 20th September 2019

[2019-07-30 18:21] #57 closed

[2019-07-30 21:46] Beardless-sheik commented on #104
Quick one........I'm guessing there's an error here.

Early Bird should be cheaper than regular no? Hence early bird should be K150 and regular K200, right?

[2019-07-31 12:12] Beardless-sheik commented on #104
@k9uma ??

[2019-07-31 14:20] k9uma commented on #104
Hey dude, thanks for noticing that, I have updated the information

[2019-07-31 14:32] Beardless-sheik commented on #104
Cool. On that note I can then take up this issue :-)

[2019-07-31 14:56] bgongre commented on #102
Do you have a specific code of conduct already written up that will be added to the page/section when it is created? I only see the code of conduct in the project and that seems to only relate to the project itself.

[2019-07-31 15:52] malgamves commented on #102
This is something we'd do good to a coc from @bgongre -https://vuejs.london/code-of-conduct

[2019-07-31 17:05] k9uma commented on #104
Make sure to claim it too so no one else picks it up in the meantime

[2019-08-01 07:58] malgamves commented on #102
Update on font - its [Keep Calm](https://www.cufonfonts.com/font/keep-calm]

[2019-08-01 12:31] k9uma commented on #98
Further information is needed;

Event Location: Lusaka Zambia....

[2019-08-02 07:23] k9uma opened #109 "Fix Issue with Partners Section"
Is this intended? There is a image in the second row...

![Screenshot_2019-08-01 DevConZM19](https://user-images.githubusercontent.com/12296763/62280538-6c5c1900-b44c-11e9-8d29-21d881630fd1.png)

_Originally posted by @k9uma in https://github.com/devconzm/devconzm/pull/108_

[2019-08-02 09:04] Yogendra0Sharma commented on #109
@k9uma I think this is already implemented.

[2019-08-02 15:37] OlivierJM opened #111 "All contributors not reflecting the newly added contributors"
**Describe the bug**
The allcontributors bot is not reflecting the new members added, this is an issue caused by manually editing the file

**To Reproduce**
Steps to reproduce the behavior:
1. call the @allcontributors bot
2. Ask it to add a contributor e.g: @allcontributors please add @OlivierJM for code
3. Merge the created pull requested
4. Check the total number of contributors
5. Check the ta

[2019-08-02 22:11] malgamves opened #112 "Add Meta Infomation"
**Is your feature request related to a problem? Please describe.**
We should add Meta information to help with SEO and intergration to Social Media sites

[This should do it](https://www.npmjs.com/package/react-meta-tags)

[2019-08-05 17:30] k9uma commented on #109
Really? I still see the bug on the site

[2019-08-05 21:17] bgongre commented on #102
@malgamves I can add the font, just let me know if you'd like it for all the text on the main page and if you'd like it set for the code of conduct page as well.

[2019-08-05 21:24] malgamves commented on #102
Hello @bgongre yes for both

[2019-08-06 16:42] bgongre commented on #102
The Keep Calm font has been added. It looks like all the items on this list have been completed, they just need to be reviewed and merged to master at this point. I also took care of issue #109 by removing the extra unused code for a new partner.

[2019-08-07 03:57] WillzMu commented on #11
It appears the COC link at the top of the webpage does not link to any resource. And the COC link at the bottom directs to `https://www.devcon.co.zm/CodeOfConduct.js` but has no content

[2019-08-07 06:25] k9uma commented on #109
Okay great thanks

[2019-08-07 06:25] #109 closed

[2019-08-07 18:59] #98 closed

[2019-08-08 07:19] OlivierJM opened #116 "Netlify showing a 404 page on different route other than home"
Another thing, I just noticed is that Netlify is acting up on the route surprisingly

**To do**

- Help find what is causing this
- Fix the navbar links
- Replace custom links with <NavLink/>

If you plan to work on this issue, start working from the linked Pull Request

_Originally posted by @OlivierJM in https://github.com/devconzm/devconzm/pull/115#issuecomment-519399113_

[2019-08-08 07:21] #102 closed

[2019-08-12 15:47] malgamves commented on #116
Cool, this was fixed!

[2019-08-12 15:47] #116 closed

[2019-08-13 05:39] #104 closed

[2019-08-13 08:49] malgamves opened #117 "Navbar should persist on all routes"
**Describe the bug**
The Code of Conduct route does not have the navbar which makes it impossible to navigate back to the home page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'devcon.co.zm'
2. Click on 'Code of Conduct'
3. See error - can't nagivate back to home or other routes.

**Expected behavior**
The navbar should appear on all routes as it does on the speaker route for exam

[2019-08-13 09:13] malgamves opened #118 "Add a community blog"
We could add a community blog to host important information about the conference. Gridsome or Gatsby have really nice options, take minimal effort to startup and we could host it on a subdomain like blog.devcon.co.zm

This would help us but out information easier with posts like
- 5 reasons to attend DevConZM for beginners
- 5 reasons to attend DevConZM for startups
- Guide to Lusaka etc

[2019-08-13 09:19] malgamves opened #119 "Embed Video on about section"
I think we could do well to add the promo video to the bottom of the about section of our website. [Link to video](https://www.linkedin.com/feed/update/urn:li:activity:6565574708425830400)

[2019-08-13 09:33] k9uma commented on #118
We can go ahead... What would be needed rn?

[2019-08-13 09:33] k9uma commented on #119
Can I post the video on our Youtube page instead?

[2019-08-13 09:35] malgamves opened #120 "Progressive Web App Support"
When I think about it, the pro's out weigh the con's of implementing PWA support for the site. What are your thoughts @OlivierJM ?

[2019-08-13 09:36] malgamves commented on #119
Yes, it would make it much easier to embed.

[2019-08-13 09:37] malgamves commented on #118
We'd need to setup a new repo and create the subdomain. I don't have the domain provider and netlify credentials so most I can do is setup the project.

[2019-08-13 09:41] #5 closed

[2019-08-13 09:42] malgamves commented on #11
Hey @WillzMu thanks for the catch. That has been fixed now

[2019-08-13 09:42] #11 closed

[2019-08-13 09:43] malgamves commented on #51
This seems to have been fixed now

[2019-08-13 09:43] #51 closed

[2019-08-13 09:45] malgamves commented on #76
@OlivierJM any luck on this?

[2019-08-13 09:47] malgamves commented on #77
I think we need an assets repository. Thoughts @OlivierJM and @k9uma ?

[2019-08-13 09:48] malgamves commented on #80
What options do we have for a new background image?

[2019-08-13 09:49] #81 closed

[2019-08-13 09:54] k9uma commented on #119
<iframe width="560" height="315" src="https://www.youtube.com/embed/k4q6gGcslA0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

[2019-08-13 09:57] malgamves commented on #119
Perfect, thanks!

[2019-08-13 09:59] k9uma commented on #119
Welcome

[2019-08-13 10:00] k9uma commented on #118
Do what you can, I will send you the netlify credentials.

[2019-08-14 12:48] #119 closed

[2019-08-14 15:06] Chingaipe opened #122 "Site header breaking in Edge browser"
**Site header breaking in Microsoft Edge**
Not sure how many people actually use MS Edge but I noticed that opening the site in the Edge browser _breaks_ the header kinda shifts to the left making the banner not visible.

**Possible solution**
Check if there is a polyfill that could solve this

**To Reproduce**
Steps to reproduce the behavior:
1. Open [devcon.co.zm](site) in Edge browser

**Expect

[2019-08-17 17:23] OlivierJM commented on #122
I swear Edge is the new IE 🤦🏾‍♂️
@Chingaipe wanna work on this one ?

[2019-08-17 17:25] OlivierJM commented on #120
Yeah that is true, we can clean up most of accessibility issues and implement the PWA, this won't be hard since we already have the serviceWorkers in place.
We can start working towards this.

[2019-08-17 17:26] OlivierJM commented on #117
I am going to work on this.

[2019-08-17 17:38] malgamves commented on #120
Awesome, what else would be required?

[2019-08-17 17:39] malgamves commented on #117
I think #121 fixed this @OlivierJM

[2019-08-17 17:41] OlivierJM commented on #117
Yeah I noticed, it is currently linking to a wrong id, I will push in for a fix.

[2019-08-17 17:44] OlivierJM commented on #120
I think first step, is to run a lighthouse audit.
check here for the report https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://www.devcon.co.zm/
It seems mostly we have an issue with performance, we can start working on that, the have a proper manifest file, the register the serviceWorker that we currently have.

[2019-08-17 18:04] malgamves commented on #120
Hey, can we create an issue for each item we need to improve based on the lighthouse analysis?

Can we create issues for item that comes up from the lighthouse analysis?

[2019-08-17 18:07] OlivierJM commented on #120
Yeah sure let's me that.

[2019-08-17 18:08] OlivierJM opened #123 "Add PWA support"
Originally discussed in this issue #120

I think first step, is to run a lighthouse audit.
check here for the report https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://www.devcon.co.zm/
It seems mostly we have an issue with performance, we can start working on that, the have a proper manifest file, the register the serviceWorker that we currently have.

_Originally posted by @Oli

[2019-08-17 18:13] OlivierJM commented on #123
Here are first things to get started with on this.

- Lazy load components
- Lazy load images
- Update the `manifest.json`
- add a meta tag #112
- Test cross-browser support #122

React.lazy and React.Suspense can help on the lazy loading but we would need a well creafted loading component to show while these are about to show.
Most of our images are heavy, we might need to find a CDN for them or

[2019-08-17 18:33] OlivierJM opened #125 "Organizers portrait photos"
**Background**
There is a pull request that was submitted by @kazashim and before we merge it we will need photos of organizers to be there.

**Todo**
If you are one of the organizers send in a link to a photo that can be used on the site.

[2019-08-17 21:34] OlivierJM commented on #125
Some might need optimization, we can see how we can go about that.
- Mine https://bit.ly/2Zet21j

[2019-08-18 07:43] OlivierJM commented on #123
If you are interested, fixing issues related to this will get you a free ticket.

[2019-08-18 16:41] kazashim commented on #125
and also your social media handle

[2019-08-19 05:26] k9uma commented on #125
This one will be hard for me but you can select from any of these:
Also @sour_bones on twitter is enough I think
https://photos.app.goo.gl/mZ4ATzwSPaiNELmg7
https://photos.app.goo.gl/Vi2akJJRyWEZWNUs9
https://photos.app.goo.gl/PgfhrsMLzuVQHCq79
https://photos.app.goo.gl/6DJ8WC9PgckqoY446

[2019-08-19 08:00] kazashim commented on #125
alright

[2019-08-19 13:05] Chingaipe commented on #122
Sure, I could look into it.

[2019-08-20 18:50] malgamves commented on #125
My bad, use this https://imgur.com/yH6mhKt

[2019-08-20 19:26] OlivierJM commented on #125
Just thought of it, does it have to be a portrait?
would something like this be acceptable ? https://photos.app.goo.gl/Z6aVWGk7kb4TgX1A8

[2019-08-20 19:42] OlivierJM opened #126 "Add Asikana network logo"
This logo needs to be added as our partners

![Asikana Logo Updated](https://user-images.githubusercontent.com/11255454/63378822-52e72680-c393-11e9-9b81-d1a90f8b45d5.jpg)

[2019-08-20 19:51] #117 closed

[2019-08-20 21:04] kazashim commented on #125
alright

[2019-08-21 05:11] k9uma commented on #126
This logo needs to be added as well....

![1200px-Amazon_Web_Services_Logo svg](https://user-images.githubusercontent.com/12296763/63404242-b77da200-c3e2-11e9-8ee8-f484734d3909.png)

[2019-08-21 05:58] kazashim commented on #126
@OlivierJM I have added Asikana Network logo

[2019-08-21 13:56] katebeKatuka commented on #122
I fixed this...

[2019-08-21 18:03] Chingaipe commented on #122
Cool... Figured it would be a CSS property that would be needed

[2019-08-21 21:46] OlivierJM commented on #122
Awesome Katebe, can you kindly submit a pull request for that?

[2019-08-22 10:12] Big-Zude commented on #123
i want to try this out and hopefully complete it.

[2019-08-25 09:57] OlivierJM commented on #123
Awesome

[2019-08-26 09:24] malgamves opened #127 "Center partners logos in mobile view"
![image](https://user-images.githubusercontent.com/25641936/63680565-42500980-c7f4-11e9-9695-e638fcd298a7.png)

Logos are skewed to the left, they would look better centered

[2019-08-26 12:41] #126 closed

[2019-08-29 07:21] k9uma opened #129 "Add Speakers to Website"
**Describe the solution you'd like**
The speakers page should contain the following;
Speaker Name
Speaker Position and Company
Speaker Picture

**Additional context**
Speaker Information can be found in this [folder](https://drive.google.com/open?id=1Vm2_cQ2q9qTwQCub-XDcBKUopvLK0VLi)

[2019-08-31 07:00] Beardless-sheik commented on #118
How's this going? It caught my interest

[2019-09-03 07:17] katebeKatuka commented on #122
Sorry for the silence. Was in a place with no network.

[2019-09-06 06:34] Beardless-sheik commented on #111
@OlivierJM I tried to mimic this behaviour on a local branch and the bot didn't even create a oull request. Any ideas?

[2019-09-06 22:10] OlivierJM commented on #129
Fixed the issue here #134

[2019-09-06 23:03] OlivierJM commented on #127
thanks @Beardless-sheik

[2019-09-06 23:03] #127 closed

[2019-09-07 19:04] #120 closed

[2019-09-07 19:06] malgamves opened #135 "Add a "get directions" button"
We need to add a "get directions" button under the venue which will take people to Google maps and help them get to the venue

[2019-09-07 19:09] malgamves opened #136 "Add "buy tickets" button"
We need to add a "buy tickets" button that directs people to the ticket page: Link - https://qkt.io/I3SHAd

[2019-09-07 19:16] malgamves opened #137 "Create Conference Schedule Page"
We nee to create the conference schedule to the website. It should have its own page as the code of conduct and speakers have.

This would be a nice format to adapt - https://vuejs.london/schedule

i.e

- Title and Description of Slot
- Speaker picture or activity graphic
- Clickable tabs for both days

[2019-09-10 07:43] Beardless-sheik commented on #137
Has anyone taken this up?

[2019-09-10 07:59] malgamves commented on #137
No, feel free to take it up.

On Tue, 10 Sep 2019, 09:43 Beardless-sheik, <notifications@github.com>
wrote:

[2019-09-10 08:22] Beardless-sheik commented on #137
Cool. I'll work on it this evening

[2019-09-11 11:39] k9uma commented on #129
Mwaamba Mugala should change to Mwaaba Mugala
Shakerrie Allmond is the Regional Director at The Virtual Doctors and her talk is Impact of Health Technology

[2019-09-13 20:03] OlivierJM commented on #137
@Beardless-sheik let me know if you are having an issue with this? I can help out

[2019-09-13 20:04] OlivierJM commented on #135
I will work on this saturday evening

[2019-09-13 20:05] OlivierJM opened #140 "Mwaamba Mugala should change to Mwaaba Mugala"
Mwaamba Mugala should change to Mwaaba Mugala
Shakerrie Allmond is the Regional Director at The Virtual Doctors and her talk is Impact of Health Technology

_Originally posted by @k9uma in https://github.com/devconzm/devconzm/issues/129#issuecomment-530342267_

[2019-09-13 20:06] OlivierJM commented on #129
For more visibility, I have made the above comment as its own issue, plus I can also work on it tomorrow

[2019-09-14 09:58] Beardless-sheik commented on #137
Hey. I travelled for work so I had zero chance to look at this. I'll definitely be on it this evening. I pray our pals at ZESCO are kind to me. @OlivierJM I'll definitely reach out if I have any problems

[2019-09-15 07:33] OlivierJM commented on #137
heyyy @Beardless-sheik take a look at my PR here #141 it is a draft maybe you can work from that but also feel free to get started with your own.

[2019-09-18 19:54] Beardless-sheik commented on #140
#141 and #144 address this I think

[2019-09-18 19:56] Beardless-sheik opened #145 "Speaker page still has some placeholder text"
**Describe the bug**
Speaker page still has some placeholder text that's not needed anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/Speakers page on any device'
2. See error

**Expected behavior**
Some text about Speaker

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/44676055/65181326-145e8d80-

[2019-09-20 07:01] OlivierJM opened #150 "Next steps"
Much appreciation to everyone who made it possible for our website to be what it is today 👏🏾👏🏾👏🏾👏🏾👏🏾
Looking ahead, there are a couple more things that need to be done.

**Repository organization**

- Separate issues into different projects
- Merge the releases branch into master
- Make master the default branch
- Remove all unwanted files
- Add all contributors to the contributors' list

**Websit

[2019-09-20 07:15] #145 closed

[2019-09-20 07:15] #137 closed

[2019-09-20 07:16] #129 closed

[2019-09-23 11:25] malgamves commented on #150
This makes a lot of sense. I think we need to think about how to do it

[2019-09-23 11:26] malgamves commented on #150
Let's work towards getting the two students to take this up

[2019-09-24 10:43] k9uma commented on #150
Maybe to preserve the old information we can adopt a dropdown for previous conferences separated by year?

[2019-09-24 10:51] malgamves commented on #150
Or we could have a different subdomain for each year? 2020.devcon.co.zm?

*Daniel Madalitso Phiri*
malgamves.dev

On Tue, Sep 24, 2019 at 12:43 PM Mukuma Musenge <notifications@github.com>
wrote:

[2019-09-26 16:22] k9uma commented on #150
Lol I don't think that is good 😅

[2019-09-27 08:51] OlivierJM commented on #150
Daniel might be right, looking at other conferences, they have subdomains
https://us.vuejs.org/
https://conf.reactjs.org

If you scroll down, It shows links to the previous conference site, looks much similar

[2019-09-27 09:21] malgamves commented on #150
Exactly

On Fri, 27 Sep 2019, 14:21 Olivier JM Maniraho, <notifications@github.com>
wrote:

[2019-09-28 07:22] k9uma commented on #150
I like the conf.reactjs.org one with the links at the bottom

[2019-10-03 05:18] WillzMu commented on #112
I can claim this issue if it's still needed

[2019-10-03 05:49] malgamves commented on #112
Please do, thanks

On Thu, 3 Oct 2019, 07:18 Wilfred, <notifications@github.com> wrote:

[2019-10-12 07:35] Chizzoz commented on #123
Morning @OlivierJM ! Created a PR for this issue, kindly check here #130

[2019-10-29 06:55] k9uma opened #153 "Test Slack"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-29 06:56] #153 closed

[2019-11-14 06:06] k9uma opened #154 "Archive 2019 Site - Add Background Header for 2020 Site"
As we prepare for the 2020 conference we need help with the following;
1. Archiving the 2019 website...
2. Adding a link to the archived site in the footer similar to [this](https://conf.reactjs.org/)
3. Editing Header
   --- Replace dates with "19th & 20th September 2020"
4. Commenting out Partners, Venue, Speaker, Schedule and Tickets Section
    --- Notes: Comment out corresponding navbar links

[2019-12-11 06:23] OlivierJM opened #156 "[Proposal] Switch back to default branch"
This #88 PR was introduced as some major breaks that were in the repo and the only quicker way was to work on a separate one.
I have levelled up the two branches master === releases so we can master the default branch once again.
This will need thorough testing to make sure it doesn't break anything.

[2019-12-11 06:29] OlivierJM commented on #76
@malgamves @k9uma my apologies for taking long to take some actions

I just noticed this has gotten worse, we are above 60mb repo size, few things that can be done as initial steps:

- use a CDN like [Cloudinary](https://cloudinary.com/pricing) or S3 to host all images
- use an a bot that checks every PR for repo size
- use an imageOptimizer bot like this https://github.com/marketplace/imgbot

I c

[2019-12-11 06:32] k9uma commented on #156
Approved... Lets go ahead

[2019-12-11 06:36] OlivierJM opened #157 "[Proposal] set up more checks"
To keep the repo healthy and more maintainable we need to go beyond guidelines and emphasize on what gets through to master branch.
we can set up different continuous tools to make sure all the checks are passed beyond the project building and deploying,

some examples are:

- Github Actions
- [Buddy.works](https://buddy.works/)
- Travis CI or any CI

**Checks we can emphasize**

- Repo size
- Ima

[2019-12-11 06:37] OlivierJM commented on #156
Thanks @k9uma, I am collecting everything that needs to be worked on, If it is all good I can get started on all these on Sunday.

[2019-12-11 19:13] OlivierJM commented on #156
This is resolved, am closing the issue.

[2019-12-11 19:13] #156 closed

[2019-12-12 08:14] #157 closed

[2020-01-06 10:01] malgamves opened #160 "Add Conference Sponsorship Deck and Report to site"
We need to add buttons that open up PDF versions of the Sponsorship deck and Conference Report in browser as opposed to downloading them.

[2020-01-12 12:15] geraldMaboshe commented on #136
Done! Look forward to your feedback

[2020-02-09 11:25] #59 closed

[2020-02-09 11:25] #67 closed

[2020-02-09 11:26] #112 closed

[2020-02-09 11:26] #123 closed

[2020-02-09 11:26] #136 closed

[2020-02-09 11:26] #140 closed

[2020-02-09 11:29] #76 closed

[2020-02-09 11:32] #14 closed

[2020-02-09 11:32] #77 closed

[2020-02-09 11:33] #80 closed

[2020-02-09 11:34] #85 closed

[2020-02-09 11:38] malgamves commented on #111
Same, any progress here?

[2020-02-09 11:44] malgamves commented on #111
This is working. Only works when triggered by repo owner on GitHub not locally. Closing

[2020-02-09 11:48] malgamves commented on #4
Working on this

[2020-02-10 12:56] Katuka opened #174 "design proposal"
![devcon](https://user-images.githubusercontent.com/36620640/74151101-172b6c00-4c14-11ea-8f5a-82253d96f601.jpg)

[2020-02-17 08:24] #111 closed

[2020-02-20 08:35] k9uma opened #175 "Add GoFundMe Donors to Website"
Link is here -> https://bit.ly/2wpVULo